@import url("header.css");
@import url("principal.css");
@import url("footer.css");

:root{
    --branco: #ffffff;
    --preto: #000000;

    --bg-body: #e5e5e5;
    --bg-body-dark: #333333;

    --gradient-1: #C900FE;
    --gradient-2: #46006C;

    --principal-title-gradient-1: #8A2BE2;
    --principal-title-gradient-2: #0047AB;
    --principal-title-gradient-1-dark: #9370DB;
    --principal-title-gradient-2-dark: #87CEFA;

    --title-light: #B657FF;
    --title-dark: #9370DB;

    --vol-light:  #4169E1;
    --vol-dark: #ADD8E6;

    --texto-light: #7c7c7c;
    --texto-dark: #bbb9b9;
}
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body{
    background-color: var(--bg-body);
    transition: 0.35s ease-in;
}

body.dark{
    background-color: var(--bg-body-dark);
}