@import url("header.css");
@import url("personages.css");
@import url("footer.css");

:root{
    --branco: #ffffff;
    --preto: #000000;

    --bg-body: #e5e5e5;
    --bg-body-dark: #333333;

    --gradient-1: #C900FE;
    --gradient-2: #46006C;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body{
    background-color: var(--bg-body);
    transition: 0.35s ease-in;
}

body.dark{
    background-color: var(--bg-body-dark);
}